.bg-black {
  background-color: $black;
}
.bg-grey-dark {
  background-color: $grey-dark;
}
.bg-grey {
  background-color: $grey;
}
.bg-grey-light {
  background-color: $grey-light;
}
.bg-white {
  background-color: white;
}
.bg-red {
  background-color: $red;
}

.black {
  color: $black;
}
.grey-dark {
  color: $grey-dark;
}
.grey {
  color: $grey;
}
.grey-light {
  color: $grey-light;
}
.white {
  color: white;
}
.red {
  color: $red;
}
