body {
  font-family: $font-base;
  font-size: $type-body;
  line-height: 1.8;
  color: $black;
}

a, a:visited {
  text-decoration: none;
  color: $red;
  border-bottom: 1px solid $grey;

  &:hover {
    color: lighten($red, 8%);
    border-bottom-color: lighten($red, 8%);
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: $type-page-title;
  margin: 15px 0;
  color: $red;
}

h2, blockquote {
  font-size: $type-header;
  margin: 12px 0;
}

h3, h4, h5, h6 {
  margin: 8px 0;
}

h3 {
  font-size: $type-headline;
}

h3, h4 {
  text-transform: uppercase;
}

h4, small {
  color: $grey;
}

h4 {
  font-weight: 400;
}

ol, ul {
  padding-left: 21px; // reset list indent
}
}
