<nav>
  <%= image_tag('logo-tiny.png', class: 'logo') %>
  <a href="#colors">Colors</a>
  <a href="#typography">Typography</a>
  <a href="#buttons">Buttons</a>
  <a href="#forms">Forms</a>
</nav>

<aside class="col-4 center m1-top panel">
  Hey! This is a notification.
</aside>

<article class="col-8">
  <h1>Styleguide</h1>

  <p>Standardized styling guide for <a href="http://assembly.com/really-good-emails">Really Good Emails</a>.</p>

  <section id="colors">
    <h2>Colors</h2>

    <div class="p1 m1-top bg-grey-light">$grey-light (#fafafa)</div>
    <div class="p1 m1-top white bg-grey">$grey (#bdbdbd)</div>
    <div class="p1 m1-top white bg-grey-dark">$grey-dark (#757575)</div>
    <div class="p1 m1-top white bg-black">$black (#424242)</div>
    <div class="p1 m1-top white bg-red">$red (#f44336)</div>
  </section>

  <hr>

  <section id="typography">
    <h2>Typography</h2>

    <h3>Headline</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate distinctio reprehenderit, autem deleniti ad <a href="#">voluptatum eaque</a>. Optio ea aperiam nisi distinctio nemo repellat, voluptate fugiat. Quidem neque illum, blanditiis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero mollitia modi ad id quasi illo! Provident corporis unde inventore impedit vel, consequuntur hic eaque officia praesentium! Debitis doloribus fugiat eaque porro eveniet culpa possimus voluptatibus dolores, veritatis quis rem et modi exercitationem, excepturi, ex ratione iste aspernatur sint minus obcaecati illum voluptatum! Eum dicta eius aut qui quo, consectetur vel commodi nam illo facere, quam labore veritatis nihil saepe quisquam quia exercitationem eaque aliquam itaque laudantium quod. Dolorem, explicabo, dignissimos.</p>
  </section>

  <hr>

  <section id="buttons">
    <h2>Buttons</h2>
    <button class="btn m1-right">Standard</button>
    <a class="btn m1-right" href="/">Link</a>
    <button class="btn-secondary">Secondary</button>
  </section>

  <hr>

  <section id="forms">
    <h2>Forms</h2>

    <input type="text" placeholder="First name" class="text-input">
    <input type="email" placeholder="Email" class="text-input">

    <input type="radio" id="radio1">
    <label for="radio1">Choice 1</label>

    <br>

    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">Option 1</label>
  </section>
</article>
