.text-input {
  font: 300 14px $font-base;
  -webkit-appearance: none;
  border: 1px solid $grey;
  border-radius: 4px;
  color: $grey;
  width: 16em;
  padding: 6px 12px;
  margin-bottom: 1em;
  display: block;

  &:focus {
    transition: all 0.12s ease-in;
    border-color: $red;
    color: $black;
    outline: 0;
  }
}

textarea.text-input {
  line-height: 1.66;
  width: 32em;
}

@media (max-width: $screen-phone) {
  .text-input {
    width: 95% !important;
  }
}
