nav {
  background-color: white;
  border-bottom: 1px solid darken($grey-light, 8%);
  padding: 8px 8px 16px 8px;
  display: block;

  * {
    display: inline-block;
    padding: 0 12px;
  }

  .logo {
    width: 28px;
    position: relative;
    top: 7px;
  }
}
